.hero {
    background: url('/images/banner-mobile.png') no-repeat center top;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3rem;

    h2 {
        margin-bottom: 1.75rem;
    }

    @include media-breakpoint-up(md) {
        background: url('/images/banner-desktop.png') no-repeat center top;
        min-height: unset;
        height: 25rem;
        align-items: center;
        padding-bottom: 0;

        &.container-md {
            width: 1440px;
            max-width: 1440px;
        }

        h2 {
            margin-bottom: 3.125rem;
        }
    }
}
