.offer {
    margin-bottom: 3.75rem;

    h2:not(.price h2) {
        margin-bottom: 1.875rem;
    }

    &-banner {
        background: rgba($dark-grey, .5);
        border-radius: .3125rem;
        padding: 1.75rem 1.375rem;

        h3 {
            margin-bottom: .875rem;
        }

        p:first-child {
            color: #727272;
            margin-bottom: .5rem;
        }

        > div > img {
            margin-bottom: .75rem;
        }

        .price-container {
            margin-bottom: 2.25rem;
        }

        .price {
            h2 {
                font-size: 3.875rem;
            }

            h2, p {
                line-height: 100%;
            }

            h4 {
                line-height: 125%;
            }

            h4 {
                font-size: 2rem;
            }
        }

        .cta {
            height: 3rem;
        }

        .movies {

            .movie-poster {
                width: calc((100% - 1.125rem) / 3);

                &:not(:last-child) {
                    margin-right: .5625rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .offer .terms {
        color: $light-grey;
        font-weight: 400;
        opacity: .5;
    }

    .offer-info {
        width: 40%;
    }

    .offer-banner {
        padding: 2.1875rem 4.875rem 3rem 4.3125rem;
        margin-bottom: 2.25rem;

        .movies {

            .movie-poster {
                width: auto;
                height: 12.5rem;

                &:not(:last-child) {
                    margin-right: .75rem;
                }
            }
        }

        .price-container {
            margin-bottom: 0;
        }
    }
}
