h1 {
    font-size: 2rem;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: 0;
}

h5 {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0;
}

@include media-breakpoint-up(md) {
    h1 {
        font-size: 3rem;
    }

    h5 {
        font-size: 1.5rem;
        line-height: 130%;
    }
}
