// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Geometria Narrow', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #C8102E;
$white: #fff;
$black: #000;
$light-grey: #F6F6F6;
$medium-grey: #E8E8E8;
$dark-grey: #2D2D2D;
