// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'typography';
@import 'navigation';
@import 'hero';
@import 'counter';
@import 'device-list';
@import 'offer';

body {
    background: $black;
    color: $white;
}

.btn {
    border-radius: .3125rem;
}

.container {
    max-width: 71.25rem;
}
