// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'typography';
@import 'navigation';
@import 'hero';
@import 'counter';
@import 'device-list';
@import 'offer';
@import 'subscribe';
@import 'footer';

@font-face {
    font-family: GeometriaNarrow;
    src: url('/fonts/Geometria-Narrow.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: GeometriaNarrow;
    src: url('/fonts/Geometria-NarrowBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

body {
    background: $black;
    color: $white;
    font-family: 'GeometriaNarrow';
}

.btn {
    border-radius: .3125rem;
}

.container,
.container-md,
.container-lg {
    max-width: 71.25rem;
}

.btn-with-icon {
    svg {
        transition: transform .3s ease;
    }

    &:hover {
        svg {
            transform: translateX(10px);
        }
    }
}
